[card] {
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  [img-container] {
    display: flex;
    justify-content: center;
  }

  [img] {
    min-width: 128px;
    width: 35%;
    border-radius: 50%;
    margin-bottom: -14%;
    padding: 8px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  [text] {
    padding: calc(14% + 16px) 16px 16px 16px;
    border-radius: 16px;

    h2 {
      font-size: 24px;
      font-weight: normal;
      text-decoration: 1px double underline;
      margin-bottom: 12px;
    }

    p {
      max-width: 384px;
      margin: 0 auto 16px auto;
    }

    [message] {
      line-height: 1.4;
      word-spacing: 1.8px;
      letter-spacing: 0.4px;
      margin-bottom: 32px;
    }

    button[sign-in] {
      padding: 0;

      img {
        width: 256px;
      }
    }

    [terms] {
      line-height: 0.7;
      opacity: 0.6;

      small {
        font-size: 10px;
      }
    }
  }
}
