<div card>
  <div img-container>
    <div img><img src="assets/images/obum.png" matTooltip="Obum" alt="" /></div>
  </div>
  <div text>
    <h2>Welcome</h2>
    <p>
      Hope you are getting value from the <span bold>FREE </span>
      <span italic>Grow your LinkedIn</span> Whatsapp class. Sign in to record
      your LinkedIn Account so that others can connect with you.
    </p>
    <p>
      <button
        mat-raised-button
        sign-in
        (click)="signIn()"
        color="primary"
        matTooltip="Sign In With LinkedIn"
      >
        <img
          src="assets/images/sign-in-with-linkedin.png"
          alt="Sign In With LinkedIn"
        />
      </button>
    </p>
  </div>
</div>
