<app-countdown></app-countdown>

<mat-divider></mat-divider>

<div share-container>
  <h2 text-center heading bold>Please Share</h2>
  <p text-center subheading mx-auto big-read>
    Almost there! The class is <span font>FREE</span>, but to join, please first
    share it on LinkedIn and on at least two any other platforms.
  </p>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab *ngFor="let platform of platforms">
      <ng-template mat-tab-label>
        <mat-checkbox [disabled]="true" [checked]="sharing[platform]">
          <span capitalize>{{
            platform === 'copy' ? 'Copy Link' : platform
          }}</span>
        </mat-checkbox>
      </ng-template>

      <div tab-body>
        <p
          text-center
          bold
          [class.underline]="platform === 'whatsapp'"
          [class.text-24px]="platform !== 'whatsapp'"
        >
          {{ headings[platform] }}
        </p>

        <p share-message text-center>
          Get Jobs. Gain Followers. Grow an audience.
          <br />
          <br />
          Learn these and more in the upcoming
          <span italic text-20px>"Grow your LinkedIn" &nbsp; </span>
          <span bold>FREE &nbsp;</span> Whatsapp class.
          <br />
          <br />
          Join now by registering at
          <br />
          <span underline text-20px>obum.me/linkedin-class</span>
        </p>

        <p text-center>
          <share-button
            [button]="platform"
            [theme]="'modern-dark'"
            [showText]="true"
            [url]="urls[platform]"
            (opened)="saveSharing(platform)"
          ></share-button>
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-divider before-button></mat-divider>

  <p text-center>
    <button mat-raised-button color="accent" (click)="joinClass()" join>
      Join the Class
    </button>
  </p>
</div>
