<ngx-ui-loader
  [fgsColor]="primaryColor"
  [pbColor]="primaryColor"
  [fgsType]="SPINNER.pulse"
>
</ngx-ui-loader>

<mat-toolbar navbar>
  <mat-toolbar-row>
    <h1>
      <img blue-o src="assets/images/blue-o.png" alt="O" /><span>bum</span>
    </h1>
    <span spacer></span>
    <button
      mat-stroked-button
      sign-out
      (click)="auth.signOut()"
      *ngIf="auth.currentUser"
    >
      Sign Out
    </button>
    <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
      <img
        [src]="
          'assets/svgs/' +
          (themes.indexOf(cssClass) === 0 ? themes[1] : themes[0]) +
          '.svg'
        "
        alt=""
      />
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <mat-toolbar>
        <mat-toolbar-row>
          <small>&copy; {{ year }} All Rights Reserved</small>
          <span spacer></span>
          <a
            support
            mat-icon-button
            href="https://api.whatsapp.com/send?phone=2347033777385&text=Hi%20Obum,%20I%27m%20having%20issues%20with%20the%20%22Grow%20your%20LinkedIn%22%20website%0D%0A%0D%0AMy%20name%20is%20"
            target="_blank"
            rel="noopener noreferrer"
            matTooltip="Contact Support"
            ><img footer-icon src="assets/svgs/support.svg"
          /></a>
          <a
            mat-icon-button
            href="https://obumnwabude.com/"
            target="_blank"
            rel="noopener noreferrer"
            matTooltip="About Obum"
            ><img footer-icon src="assets/svgs/explore.svg"
          /></a>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
